<div class="row">
	<div class="pull-right">
		<a href="/logout">Logout</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12 speech-title">
	  <h1>Speech Management App</h1>
	</div>
</div>
<div class="row app-content">
	<div class="col-md-12">
		<div class="row">
		  <div class="col-md-3 col-md-offset-1">
		    <speech-list [speeches]="speeches" [activeSpeech]="selectedSpeech.id" (selectSpeech)="setSpeech($event)"></speech-list>
		  </div>
		  <div class="col-md-8">
		    <speech-form [selectedspeech]="selectedSpeech" (onsave)="saveSpeech($event)" (onsaveasnew)="addSpeech($event)" (ondelete)="deleteSpeech($event)" (onshare)="shareSpeech($event)"></speech-form>
		  </div>
		</div>
	</div>
</div>